.root {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 10px;
  z-index: 1;
}
.form {
  margin-top: 10%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btDiv {
  position: absolute;
  margin-top: 50px;
  display: flex;
  gap: 10px;
  bottom: 30px;
  left: 35%;
}
.label1 {
  margin-left: -40px;
  display: flex;
  gap: 15px;
  color: #ffff;
  font-size: 20px;

  input {
    border: none;
    background-color: inherit;
    border-bottom: dashed #dde85e;
    color: #ffff;
    outline: none;
  }
  input::placeholder {
    color: #ffff;
  }
}
.label2 {
  font-size: 20px;
  margin-left: -40px;
  display: flex;
  gap: 5px;
  color: #ffff;

  textarea {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    color: #ffff;
  }
  textarea::placeholder {
    color: #ffff;
  }
}
.bt {
  color: #0b0b0b;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: #0b0b0b;
  cursor: pointer;
}
